<header id="landing-header" class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white">
    <div class="flex flex-grow basis-0">
        <svg class="h-6 w-32" viewBox="0 0 342 35" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M0 .1a9.7 9.7 0 0 0 7 7h11l.5.1v27.6h6.8V7.3L26 7h11a9.8 9.8 0 0 0 7-7H0zm238.6 0h-6.8v34.8H263a9.7 9.7 0 0 0 6-6.8h-30.3V0zm-52.3 6.8c3.6-1 6.6-3.8 7.4-6.9l-38.1.1v20.6h31.1v7.2h-24.4a13.6 13.6 0 0 0-8.7 7h39.9v-21h-31.2v-7zm116.2 28h6.7v-14h24.6v14h6.7v-21h-38zM85.3 7h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7m0 13.8h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7m0 14.1h26a9.6 9.6 0 0 0 7.1-7H78.3a9.6 9.6 0 0 0 7 7M308.5 7h26a9.6 9.6 0 0 0 7-7h-40a9.6 9.6 0 0 0 7 7"></path></svg>
    </div>
    
    <nav>
        <ul 
        class="flex text-sm [&>li>a]:text-current [&>li>a]:font-bold [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
        >
            <li><a href="#">Vehicles</a></li>
            <li><a href="#">Energy</a></li>
            <li><a href="#">Charging</a></li>
            <li><a href="#">Discover</a></li>
            <li><a href="#">Shop</a></li>
        </ul>
    </nav>

    <nav class="flex flex-grow basis-0 justify-end">
        <ul class="flex text-sm [&>li>a]:text-current [&>li>a]:font-bold [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
            <li><a href="#">Support</a></li>
            <li><a href="#">Region</a></li>
            <li><a href="#">Account</a></li>
        </ul>
    </nav>

    <div
     id="menu-backdrop"
     class={`
        absolute bg-black/5 backdrop-blur-lg rounded
        translate-x-[var(--left)] translate-y-[var(--top)]
        left-0 top-0
        w-[var(--width)] h-[var(--height)]
        transition-all duration-500
        ease-in-out opacity-0 -z-10
     `}
    >
</header>

<script>
    const listItem = document.querySelectorAll("#landing-header li")
    const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement

    listItem.forEach((item) =>{
        item.addEventListener("mouseenter", () =>{
            const {left, top, width, height } = item.getBoundingClientRect()


            menuBackDrop.style.setProperty("--left", `${left}px`)
            menuBackDrop.style.setProperty("--top", `${top}px`)
            menuBackDrop.style.setProperty("--width", `${width}px`)
            menuBackDrop.style.setProperty("--height", `${height}px`)
            
            menuBackDrop.style.opacity = "1"
            menuBackDrop.style.visibility = "visible"
        })

        item.addEventListener("mouseleave", () =>{
            menuBackDrop.style.opacity = "0"
            menuBackDrop.style.visibility = "hidden"
        })
    })
</script>

<script>
    const $header = document.querySelector('#landing-header') as HTMLElement
    const observerOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 0.90
    }

    const observer = new IntersectionObserver(entries =>{
      entries.forEach(entry =>{
        const {isIntersecting} = entry
        if(isIntersecting){
            const color = entry.target.getAttribute('data-header-color')
            $header.style.color = color
        }
      } )  
    }, observerOptions)
    const $sections = document.querySelectorAll('.landing-section')
    $sections.forEach((section) => observer.observe(section))
</script>
