<header id="landing-header" class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white">
    <div class="flex flex-grow basis-0">
        <img src="/logoheader.png" alt="martini">
    </div>
    
    <nav>
        <ul 
        class="flex text-sm [&>li>a]:text-current [&>li>a]:font-bold [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
        >
            <li><a href="#">Cartas</a></li>
            <li><a href="#">Tragos</a></li>
            <li><a href="#">Descubrir Nuevas Combinaciones</a></li>
        </ul>
    </nav>

    <nav class="flex flex-grow basis-0 justify-end">
        <ul class="flex text-sm [&>li>a]:text-current [&>li>a]:font-bold [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
            <li><a href="#">Support</a></li>
            <li><a href="#">Region</a></li>
            <li><a href="#">Account</a></li>
        </ul>
    </nav>

    <div
     id="menu-backdrop"
     class={`
        absolute bg-black/5 backdrop-blur-lg rounded
        translate-x-[var(--left)] translate-y-[var(--top)]
        left-0 top-0
        w-[var(--width)] h-[var(--height)]
        transition-all duration-500
        ease-in-out opacity-0 -z-10
     `}
    >
</header>

<script>
    const listItem = document.querySelectorAll("#landing-header li")
    const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement

    listItem.forEach((item) =>{
        item.addEventListener("mouseenter", () =>{
            const {left, top, width, height } = item.getBoundingClientRect()


            menuBackDrop.style.setProperty("--left", `${left}px`)
            menuBackDrop.style.setProperty("--top", `${top}px`)
            menuBackDrop.style.setProperty("--width", `${width}px`)
            menuBackDrop.style.setProperty("--height", `${height}px`)
            
            menuBackDrop.style.opacity = "1"
            menuBackDrop.style.visibility = "visible"
        })

        item.addEventListener("mouseleave", () =>{
            menuBackDrop.style.opacity = "0"
            menuBackDrop.style.visibility = "hidden"
        })
    })
</script>

<script>
    const $header = document.querySelector('#landing-header') as HTMLElement
    const observerOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 0.90
    }

    const observer = new IntersectionObserver(entries =>{
      entries.forEach(entry =>{
        const {isIntersecting} = entry
        if(isIntersecting){
            const color = entry.target.getAttribute('data-header-color')
            $header.style.color = color
        }
      } )  
    }, observerOptions)
    const $sections = document.querySelectorAll('.landing-section')
    $sections.forEach((section) => observer.observe(section))
</script>
